<div role="tabpanel" class="tab-pane active in" id="consul">
    <div class="panel-body">
        <form id="consul-form" role="consul-form" data-toggle="validator" method="POST" action="monitor/config"
            novalidate="novalidate" class="nice-validator n-default n-bootstrap">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="address" value="<%= v.consul.address %>"
                                        class="form-control" data-tip="<%= L('Address')%>" data-rule="required">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= L('Port')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="port" value="<%= v.consul.port %>" class="form-control"
                                        data-tip="<%= L('Port')%>" data-rule="required">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Token</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="token" value="<%= v.consul.token %>" class="form-control"
                                        data-tip="Token">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" name="id" value="consul" class="form-control hide"></td>
                        <td><button type="submit" class="btn btn-success btn-embossed">
                                <%= L('Confirm')%>
                            </button>
                            <button type="reset" class="btn btn-default btn-embossed">
                                <%= L('Reset')%>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="prometheus">
    <div class="panel-body">
        <form id="prometheus-form" role="prometheus-form" data-toggle="validator" method="POST" action="monitor/config"
            novalidate="novalidate" class="nice-validator n-default n-bootstrap">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="address" value="<%= v.prometheus.address %>"
                                        class="form-control" data-tip="<%= L('Address')%>" data-rule="required">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Basic User</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="basic_user" value="<%= v.prometheus.basic_user %>"
                                        class="form-control" data-tip="Basic User">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Basic Password</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="password" name="basic_password"
                                        value="<%= v.prometheus.basic_password %>" class="form-control"
                                        data-tip="Basic Password">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plug <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="plug" value="<%= v.prometheus.plug %>" class="form-control"
                                        data-tip="Plug <%= L('Address')%>">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plug <%= L('Key')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="password" name="secret_key" value="<%= v.prometheus.secret_key %>"
                                        class="form-control" data-tip="Plug <%= L('Key')%>">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" name="id" value="prometheus" class="form-control hide"></td>
                        <td><button type="submit" class="btn btn-success btn-embossed">
                                <%= L('Confirm')%>
                            </button>
                            <button type="reset" class="btn btn-default btn-embossed">
                                <%= L('Reset')%>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="alertmanager">
    <div class="panel-body">
        <form id="alertmanager-form" role="alertmanager-form" data-toggle="validator" method="POST"
            action="monitor/config" novalidate="novalidate" class="nice-validator n-default n-bootstrap">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="address" value="<%= v.alertmanager.address %>"
                                        class="form-control" data-tip="<%= L('Address')%>" data-rule="required">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Basic User</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="basic_user" value="<%= v.alertmanager.basic_user %>"
                                        class="form-control" data-tip="Basic User">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Basic Password</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="password" name="basic_password"
                                        value="<%= v.alertmanager.basic_password %>" class="form-control"
                                        data-tip="Basic Password">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plug <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="plug" value="<%= v.alertmanager.plug %>"
                                        class="form-control" data-tip="Plug <%= L('Address')%>">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plug <%= L('Key')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="password" name="secret_key" value="<%= v.alertmanager.secret_key %>"
                                        class="form-control" data-tip="Plug <%= L('Key')%>">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" name="id" value="alertmanager" class="form-control hide"></td>
                        <td>
                            <button type="submit" class="btn btn-success btn-embossed">
                                <%= L('Confirm')%>
                            </button>
                            <button type="reset" class="btn btn-default btn-embossed">
                                <%= L('Reset')%>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="grafana">
    <div class="panel-body">
        <form id="grafana-form" role="grafana-form" data-toggle="validator" method="POST" action="monitor/config"
            novalidate="novalidate" class="nice-validator n-default n-bootstrap">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <%= L('Address')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="address" value="<%= v.grafana.address %>"
                                        class="form-control" data-tip="<%= L('Address')%>" data-rule="required">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= L('Link')%>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <select name="link" class="form-control" data-tip="请填写快捷链接">
                                        <% if (v.grafana.link=="true" ){ %>
                                            <option value="true" selected>
                                                <%= L('Open')%>
                                            </option>
                                            <option value="false">
                                                <%= L('Close')%>
                                            </option>
                                            <% }else{ %>
                                                <option value="false" selected>
                                                    <%= L('Close')%>
                                                </option>
                                                <option value="true">
                                                    <%= L('Open')%>
                                                </option>
                                                <% }; %>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" name="id" value="grafana" class="form-control hide">
                        </td>
                        <td><button type="submit" class="btn btn-success btn-embossed">
                                <%= L('Confirm')%>
                            </button>
                            <button type="reset" class="btn btn-default btn-embossed">
                                <%= L('Reset')%>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>