.idea/
.history/
.venv/

daping/
bin/
logs/
media/
dist/

webserver/config/
deploy/ctrmanager/*
deploy/yonecloud/*
node_modules/
migrations/
public/src/js/template.js
public/static/
kubernetes/manifests/base/
kubernetes/backup/
__pycache__

*.pyc
*.log
*.swp
*.swo
*.tar.gz
.env.1
.DS_Store
README_API.md
