<div class="content">
    <form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST"
        action="/user/perm/add/">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Name')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="name" placeholder="<%= L('Name')%>"
                    data-rule="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Menu')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="menu" placeholder="<%= L('Menu')%>"
                    data-rule="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('View')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="view" placeholder="<%= L('View')%>"
                    data-rule="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Comment')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <textarea class="form-control" name="comment" placeholder="<%= L('Comment')%>"></textarea>
            </div>
        </div>

        <input type="text" class="form-control hide" name="id" />
        <div class="form-group layer-footer">
            <div class="col-xs-2"></div>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed">
                    <%= L('Confirm')%>
                </button>
                <button type="reset" class="btn btn-default btn-embossed">
                    <%= L('Reset')%>
                </button>
            </div>
        </div>
    </form>
</div>