<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div id="toolbar" class="toolbar">
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="<%= L('Refresh')%>"><i
                            class="fa fa-refresh"></i></a>
                    <a href="javascript:;" class="btn btn-success btn-add" title="<%= L('Add')%>"><i
                            class="fa fa-plus"></i>
                        <%= L('Add')%>
                    </a>
                </div>
                <table id="table" class="table table-bordered table-hover" width="100%"></table>
            </div>
        </div>
    </div>
</div>