<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <form id="password-form" role="form" class="form-horizontal form-ajax" data-toggle="validator"
                    method="POST" action="/user/change/password/">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">
                            <%= L('Old')%>
                                <%= L('Password')%>:
                        </label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="password" class="form-control" name="oldpassword"
                                placeholder="<%= L('Old')%><%= L('Password')%>" data-rule="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">
                            <%= L('New')%>
                                <%= L('Password')%>:
                        </label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="password" class="form-control" name="newpassword1"
                                placeholder="<%= L('New')%><%= L('Password')%>" data-rule="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">
                            <%= L('Confirm')%>
                                <%= L('Password')%>:
                        </label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="password" class="form-control" name="newpassword2" placeholder="<%= L('Confirm')%>
                            <%= L('Password')%>" data-rule="required" />
                        </div>
                    </div>

                    <div class="form-group layer-footer">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-12 col-sm-8">
                            <button type="submit" class="btn btn-success btn-embossed">
                                <%= L('Confirm')%>
                            </button>
                            <button type="reset" class="btn btn-default btn-embossed">
                                <%= L('Reset')%>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>