<div class="content">
    <form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST"
        action="/auth/add/">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Menu')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <div class="radio">
                    <label><input checked="checked" name="ismenu" type="radio" value=1>
                        <%= L('True')%>
                    </label>
                    <label><input name="ismenu" type="radio" value=0>
                        <%= L('False')%>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Parent')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <select class="form-control" id="pid" name="pid">
                    <option value="0">
                        <%= L('None')%>
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Rule')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="name" data-rule="required;name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Title')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="title" data-rule="required;title" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Alias')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="entitle" data-rule="required;entitle" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Icon')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group input-groupp-md">
                    <input type="text" class="form-control" name="icon" value="fa fa-circle-o" />
                    <a href="javascript:;" class="btn-search-icon input-group-addon">
                        <%= L('Search')%>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Weigh')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="weigh" value="0" data-rule="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Priority')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" name="priority" value="0" data-rule="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Condition')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <textarea class="form-control" name="condition"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Comment')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <textarea class="form-control" name="remark"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">
                <%= L('Status')%>:
            </label>
            <div class="col-xs-12 col-sm-8">
                <div class="radio">
                    <label><input checked="checked" name="status" type="radio" value=1>
                        <%= L('Normal')%>
                    </label>
                    <label><input name="status" type="radio" value=0>
                        <%= L('Hide')%>
                    </label>
                </div>
            </div>
        </div>

        <input type="text" class="form-control hide" name="id" />
        <div class="form-group layer-footer">
            <div class="col-xs-2"></div>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed">
                    <%= L('Confirm')%>
                </button>
                <button type="reset" class="btn btn-default btn-embossed">
                    <%= L('Reset')%>
                </button>
            </div>
        </div>
    </form>
</div>