<div class="alert alert-info" style="margin-bottom: 10px;">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <%= L('Before enabling monitoring, you need to install node_exporter on the monitored host and specify the default port as 17000.')%>
</div>
<div class="alert alert-warning alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <strong>
        <%= L('Kind Tips')%>:
    </strong>
    <%= L('importing requires a specific file format, please download')%> <a
            href="/public/static/storage/hosts_import.xlsx">
            <%= L('Template File')%>
        </a>
        <%= L('fill in the template format and import')%>。
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div id="toolbar" class="toolbar">
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="<%= L(' Refresh')%>"><i
                            class="fa fa-refresh"></i></a>
                    <a href="javascript:;" class="btn btn-success btn-add" title="<%= L('Add')%>"><i
                            class="fa fa-plus"></i>
                        <%= L('Add')%>
                    </a>
                    <a href="javascript:;" class="btn btn-danger btn-disabled disabled btn-del"
                        style="margin-left: 4px;"><i class="fa fa-times"></i>
                        <%= L('Batch Delete')%>
                    </a>
                    <a href="javascript:;" class="btn btn-info btn-import" style="margin-left: 4px;"
                        title="<%= L('Batch Import')%>" data-url="/resources/hosts/upload/"><i class="fa fa-upload"></i>
                        <%= L('Batch Import')%>
                    </a>
                    <a href="/asset/export/" class="btn btn-default btn-export" style="margin-left: 4px;"
                        title="<%= L('Export')%>" data-url=""><i class="fa fa-download"></i>
                        <%= L('Export')%>
                    </a>
                    <input class="hide" type="file" id="toolbar-upload" />
                </div>
                <table id="table" class="table table-bordered table-hover" width="100%"></table>
            </div>
        </div>
    </div>
</div>
