<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div id="toolbar" class="toolbar">
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="<%= L('refresh')%>"><i
                            class="fa fa-refresh"></i></a>
                    <a class="btn btn-info btn-multi btn-disabled disabled" href="javascript:;"
                        data-url="/system/recycle/restore/" data-action="restore"><i class="fa fa-rotate-left"></i>
                        <%= L('Restore')%>
                    </a>
                    <a class="btn btn-danger btn-multi btn-disabled disabled" style="margin-left: 4px;"
                        href="javascript:;" data-url="/system/recycle/delete/" data-action="destroy"><i
                            class="fa fa-times"></i>
                        <%= L('Destroy')%>
                    </a>
                    <a class="btn btn-success btn-restoreall" style="margin-left: 4px;" href="/system/recycle/restore/"
                        title="<%= L('Restore')%> <%= L('All')%>"><i class="fa fa-rotate-left"></i>
                        <%= L('Restore')%>
                            <%= L('All')%>
                    </a>
                    <a href="/system/recycle/destroy/" class="btn btn-danger btn-destroyall" style="margin-left: 4px;"
                        title="<%=L('Empty the Recycle Bin')%>"><i class="fa fa-times"></i>
                        <%=L('Empty the Recycle Bin')%>
                    </a>
                </div>
                <table id="table" class="table table-bordered table-hover" width="100%"></table>
            </div>
        </div>
    </div>
</div>